body{
   background: url(/IMAGE/back.png);
   background-repeat: no-repeat;
   background-size:cover;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
   background-color: rgb(160, 209, 242);
   img{
      width: 7%;
      margin-left: 20px;
   }
}
A{
   display: inline;
    padding: 15px;
    float: right; 
    text-decoration: none;
    color: rgb(56, 56, 157);
    padding-top: 20PX;
}
H1{
   margin-left: 100PX;
   color: rgb(46, 46, 121);
   margin-top: 170PX;
}
P{
   margin-left: 100PX;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25PX;
}
BUTTON{
   margin-top: 30PX;
   width: 170PX;
   height: 38PX;
   border-radius: 20PX;
   border-color: rgb(83, 164, 211);
   background-color: rgb(178, 227, 255);
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(27, 30, 97);
}